# Compilados
*.class
*.jar
*.war

# Carpetas de build
build/
out/
bin/
dist/
target/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/
nbproject/
nb-configuration.xml
nbbuild.xml
nb-*.xml

# Archivos temporales de Java
hs_err_pid*
replay_pid*
*.log

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos de usuario
*.swp
*~
*.bak
*.tmp

# Agents
.agents
AGENTS.md
skills-lock.json
opencode.json
.opencode/command/ponytail-audit.md
.opencode/command/ponytail-debt.md
.opencode/command/ponytail-help.md
.opencode/command/ponytail-review.md
.opencode/command/ponytail.md
.opencode/plugins/ponytail.mjs
